# Задача 1
Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений

# Задача 2
Разделить таблицу данных на четыре одинаковых части.

# Задача 3
Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола и минералка.

# Задача 1

In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [2]:
import random

In [3]:
from src.config import FILE_BEVERAGE

In [4]:
df = pd.read_csv(FILE_BEVERAGE, sep=";", index_col="numb.obs")
df.head()

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
1            1       0        0      0      1       1    0        1
2            1       0        0      0      1       0    0        0
3            1       0        0      0      1       0    0        0
4            0       1        0      1      0       0    1        0
5            1       0        0      0      1       0    0        0

In [5]:
np.random.seed(seed=42)
r1 = np.random.uniform(low=0.0, high=1.0, size=len(df))

In [6]:
r1

array([0.37454012, 0.95071431, 0.73199394, 0.59865848, 0.15601864,
       0.15599452, 0.05808361, 0.86617615, 0.60111501, 0.70807258,
       0.02058449, 0.96990985, 0.83244264, 0.21233911, 0.18182497,
       0.18340451, 0.30424224, 0.52475643, 0.43194502, 0.29122914,
       0.61185289, 0.13949386, 0.29214465, 0.36636184, 0.45606998,
       0.78517596, 0.19967378, 0.51423444, 0.59241457, 0.04645041,
       0.60754485, 0.17052412, 0.06505159, 0.94888554])

In [18]:
q = np.quantile(r1, 0.33)

In [9]:
r2 = r1 > q

In [10]:
r2

array([ True,  True,  True,  True, False, False, False,  True,  True,
        True, False,  True,  True,  True, False, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True, False,  True, False, False,  True])

In [19]:
df_train = df.iloc[r2, :] # обучающая выборка
df_train

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
1            1       0        0      0      1       1    0        1
2            1       0        0      0      1       0    0        0
3            1       0        0      0      1       0    0        0
4            0       1        0      1      0       0    1        0
8            1       1        0      0      1       1    0        1
9            1       1        0      0      0       1    1        1
10           1       0        0      0      1       0    0        1
12           0       1        0      0      0       0    1        0
13           0       0        1      1      0       1    0        1
14           1       0        0      0      0       1    0        0
17           0       1        0      0      0       1    0        0
18           1       1        0      0      1       0    0        0
19           1       0        0      0      0       0    0        1
20           1       1        1      0      1       0    0        0
21           1       0        0      0      1       0    0        0
23           0       1        0      1      0       0    1        0
24           1       1        0      0      1       0    0        0
25           0       1        1      1      0       0    0        0
26           0       1        0      1      0       0    1        0
28           1       0        0      0      0       1    0        1
29           1       0        0      0      0       1    0        0
31           1       0        0      0      1       0    0        1
34           0       1        1      1      0       0    1        0

In [20]:
df_test  = df.iloc[np.logical_not(r2), :] # тестовая выборка
df_test

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
5            1       0        0      0      1       0    0        0
6            1       0        0      0      1       1    0        0
7            0       1        1      1      0       0    1        0
11           1       0        0      0      1       1    0        0
15           0       1        1      0      0       0    1        0
16           0       0        0      0      1       1    0        0
22           1       0        0      0      1       0    0        0
27           0       1        0      0      0       0    1        0
30           0       1        1      0      0       0    1        0
32           0       1        1      0      0       0    1        0
33           1       0        0      0      1       0    0        1

In [14]:
print("Всего:", len(df))
print("Train:", len(df_train), "(", round(len(df_train)/len(df), 2), ")")
print("Test: ", len(df_test),  "(", round(len(df_test)/len(df), 2), ")")

Всего: 34
Train: 23 ( 0.68 )
Test:  11 ( 0.32 )

# Задача 2

In [23]:
df = pd.read_csv(FILE_BEVERAGE, sep=";", index_col="numb.obs")
df.head()

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
1            1       0        0      0      1       1    0        1
2            1       0        0      0      1       0    0        0
3            1       0        0      0      1       0    0        0
4            0       1        0      1      0       0    1        0
5            1       0        0      0      1       0    0        0

In [24]:
np.random.seed(seed=2)
r1 = np.random.uniform(low=0.0, high=1.0, size=len(df))

In [25]:
q1 = np.quantile(r1, 0.25)
q2 = np.quantile(r1, 0.50)
q3 = np.quantile(r1, 0.75)

In [26]:
m1 = (r1 <= q1)
m2 = (r1 > q1) & (r1 <= q2)
m3 = (r1 > q2) & (r1 <= q3)
m4 = (r1 > q3)

In [27]:
df_1 = df.iloc[m1, :]
df_2 = df.iloc[m2, :]
df_3 = df.iloc[m3, :]
df_4 = df.iloc[m4, :]

In [28]:
print("Всего:", len(df))
print("Часть 1:", len(df_1))
print("Часть 2:", len(df_2))
print("Часть 3:", len(df_3))
print("Часть 4:", len(df_4))

Всего: 34
Часть 1: 9
Часть 2: 8
Часть 3: 8
Часть 4: 9

# Задача 3

In [30]:
df = pd.read_csv(FILE_BEVERAGE, sep=";", index_col="numb.obs")

In [32]:
col_coke = "COKE"
col_tab  = "TAB"

In [33]:
np.random.seed(seed=42)

In [36]:
mask_part1 = np.zeros(len(df), dtype=bool)

In [37]:
for v1 in [0, 1]:
    for v2 in [0, 1]:

        idx = (df[col_coke] == v1) & (df[col_tab] == v2)
        n = idx.sum()

        if n == 0:
            continue

        r = np.random.uniform(low=0.0, high=1.0, size=n)

        if n == 1:
            take = (r > 0.5)
        else:
            take = (r > np.quantile(r, 0.5))

        mask_part1[idx] = take

In [39]:
df_1 = df.iloc[mask_part1, :]
df_2 = df.iloc[np.logical_not(mask_part1), :]

In [40]:
df_1

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
5            1       0        0      0      1       0    0        0
6            1       0        0      0      1       1    0        0
9            1       1        0      0      0       1    1        1
10           1       0        0      0      1       0    0        1
15           0       1        1      0      0       0    1        0
16           0       0        0      0      1       1    0        0
17           0       1        0      0      0       1    0        0
18           1       1        0      0      1       0    0        0
19           1       0        0      0      0       0    0        1
20           1       1        1      0      1       0    0        0
22           1       0        0      0      1       0    0        0
23           0       1        0      1      0       0    1        0
24           1       1        0      0      1       0    0        0
26           0       1        0      1      0       0    1        0
29           1       0        0      0      0       1    0        0
30           0       1        1      0      0       0    1        0
32           0       1        1      0      0       0    1        0

In [41]:
df_2

          COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
numb.obs
1            1       0        0      0      1       1    0        1
2            1       0        0      0      1       0    0        0
3            1       0        0      0      1       0    0        0
4            0       1        0      1      0       0    1        0
7            0       1        1      1      0       0    1        0
8            1       1        0      0      1       1    0        1
11           1       0        0      0      1       1    0        0
12           0       1        0      0      0       0    1        0
13           0       0        1      1      0       1    0        1
14           1       0        0      0      0       1    0        0
21           1       0        0      0      1       0    0        0
25           0       1        1      1      0       0    0        0
27           0       1        0      0      0       0    1        0
28           1       0        0      0      0       1    0        1
31           1       0        0      0      1       0    0        1
33           1       0        0      0      1       0    0        1
34           0       1        1      1      0       0    1        0

In [44]:
print("Размер первой подвыборки: ", len(df_1))
print("Размер второй подвыборки: ", len(df_2))

Размер первой подвыборки:  17
Размер второй подвыборки:  17